<launch>
  <node name="camera" pkg="proj" type="camera.py"/>
  <!-- created with the help of: https://gist.github.com/bhaskara/2400165  -->

  <node pkg="nodelet" type="nodelet" args="manager"
        name="record_player_manager" output="screen"/>

  <node pkg="nodelet" type="nodelet" name="cloudify"
        args="load depth_image_proc/point_cloud_xyz record_player_manager --no-bond">
    
    <!-- subscribed to these topics -->
    <remap from="image_rect" to="camera/depth_raw"/>
    <remap from="camera_info" to="camera/camera_info"/>

    <!-- publishing on this topic -->
    <remap from="points" to="camera/depth_registered/points"/>
  </node>

</launch>
